* {
    font-family:Arial, Helvetica, sans-serif;
}

.container {
    display:flex; /* separate two sections into leftside and rightside classes*/
    justify-content:space-between; 
    align-items:flex-start;
    width: 90%;
    max-width: 900px; 
    justify-content: left;
}

hr {
  width: 80vw; /*extend to right side of screen*/
  margin: 10px;
  position:relative;

}

#experience { /*remove space above the "Experience" h2 heading */
    margin: 0;
}

.leftside {
    background-color: darkseagreen;
    align-items: center;
    height: 100%;
}
.heading {
    background-color:darkcyan;
    margin: 0 !important; /*added this one, so it prioritises this margin, even when being viewed with a phone. It won't fit in the screen if this is removed. */
    padding: 10px 10px;
    font-weight: bold;
    font-size:large;
}

#resumetitle {
    margin: auto;
    padding: 20px 10px;
    font-size: large;
    font-weight: bold;
}
.photo {
    justify-content: center;
    margin: auto; 
    padding: 5px;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: url(./assets/jeremyresume.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#user-role {
    padding: 0px 10px;
    font-weight: bold;
    font-size:medium;
}

.user-info {
    padding: 10px 20px;
    display: flex; /* added this one to add sections for the data */
    flex-direction: column; /* stack vertically */
    gap: 10px; 
    margin-bottom: 10px;
}

.user-info-heading {
    font-weight: bold;
    font-size:medium;
}

table {
  border-collapse: separate; /* this gives the spacing, so it looks neater */
  border-spacing: 10px 20px;
  font-weight: bold;
  width: 100%;
}

th {
    text-align: left;
    padding: 10px;
}
.rightside {
    margin: 10px;
    padding: 0px;
}

.footer {
    background-color:darkcyan;
    padding: 10px 20px;
    color: black;
    font-weight: bold;
    text-align:center;
}

@media (max-width: 480px) { /* added this so it caters to the phone viewport */
  .container {
    flex-direction: column;
    gap: 10px;
  }

  .leftside, .rightside {
    min-height: auto;
    min-width: 99%;
    padding: 20px;
  }
}