html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.scroll-wrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  height: 250px;
  background: #ffffff;

  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.scroll-track {
  display: flex;
  width: max-content;
  animation: scroll 60s linear infinite;
}

.scroll-track img {
  width:500px;       /* adjust this */
  object-fit: cover;  /* keeps them clean */
  flex-shrink: 0;
  margin-right: 5px;
  border-radius: 0px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* added for hover effect in Spaces.jsx */
.image-container {
  overflow: hidden;
  border-radius: 8px;
}

.space-image {
  transition: transform 0.4s ease;
}

.image-container:hover .space-image {
  transform: scale(1.1);
}

/* Fade in effect of the routes */
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}